<template>
  <div id="app">
      <el-container style="height: 900px">
          <el-container>
              <el-header style="background-color: white">
              </el-header>
              <el-main>
                  <div style="height:100%">
                      <router-view></router-view>
                  </div>
              </el-main>
              <!--<el-footer>Footer</el-footer>-->
          </el-container>
      </el-container>
  </div>
</template>

<script>
// import MyStartedTask from './components/MyStartedTask.vue'

export default {
  name: 'app',
  components: {
      // MyStartedTask
  }
}
</script>

<style>

    .el-main {
        background-color: #E9EEF3;
        color: #333;
        /*text-align: center;*/
    }

    .router-link-active {
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }
</style>
