<template>
    <div>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>进行中的任务</span>
                <el-button style="float: right; padding: 3px 0" type="text">发起任务</el-button>
                <el-table
                        :data="taskReps.pendingTasks"
                        style="width: 100%">
                    <el-table-column
                            prop="name"
                            label="任务名称"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="currentUser"
                            label="当前处理人"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="startTime"
                            label="发起时间"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="timeLeft"
                            label="剩余时间">
                        <template slot-scope="scope">
                            <span>{{scope.row.timeLeft}}/小时</span>
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="address"
                            label="操作">
                        <template slot-scope="scope">
                            <div style="padding: 8px">
                                <el-button @click="handleClick(scope.row)" type="text" size="small">详情</el-button>
                                <el-button type="text" size="small">提醒</el-button>
                            </div>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </el-card>
        <el-card class="box-card" style="margin-top: 5px">
            <div slot="header" class="clearfix">
                <span>已通过的任务</span>
            </div>
            <el-table
                    :data="taskReps.approvedTasks"
                    style="width: 100%">
                <el-table-column
                        prop="name"
                        label="任务名称"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="startTime"
                        label="发起时间"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="endTime"
                        label="完成时间">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="操作">
                    <template slot-scope="scope">
                        <div style="padding: 8px">
                            <el-button @click="handleClick(scope.row)" type="text" size="small">详情</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>
        <el-card class="box-card" style="margin-top: 5px">
            <div slot="header" class="clearfix">
                <span>已驳回的任务</span>
            </div>
            <el-table
                    :data="taskReps.rejectedTasks"
                    style="width: 100%">
                <el-table-column
                        prop="name"
                        label="任务名称"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="startTime"
                        label="发起时间"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="endTime"
                        label="完成时间">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="操作">
                    <template slot-scope="scope">
                        <div style="padding: 8px">
                            <el-button @click="handleClick(scope.row)" type="text" size="small">详情</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>

        <el-card class="box-card" style="margin-top: 5px">
            <div slot="header" class="clearfix">
                <span>已过期的任务</span>
            </div>
            <el-table
                    :data="taskReps.expiredTasks"
                    style="width: 100%">
                <el-table-column
                        prop="name"
                        label="任务名称"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="startTime"
                        label="发起时间"
                        width="180">
                </el-table-column>

                <el-table-column
                        prop="endTime"
                        label="完成时间">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="操作">
                    <template slot-scope="scope">
                        <div style="padding: 8px">
                            <el-button @click="handleClick(scope.row)" type="text" size="small">详情</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>

        <el-card class="box-card" style="margin-top: 5px">
            <div slot="header" class="clearfix">
                <span>被踢退的任务</span>
            </div>
            <el-table
                    :data="taskReps.returnTasks"
                    style="width: 100%">
                <el-table-column
                        prop="name"
                        label="任务名称"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="startTime"
                        label="发起时间"
                        width="180">
                </el-table-column>

                <el-table-column
                        prop="endTime"
                        label="完成时间">
                </el-table-column>
                <el-table-column
                        prop="address"
                        label="操作">
                    <template slot-scope="scope">
                        <div style="padding: 8px">
                            <el-button @click="handleClick(scope.row)" type="text" size="small">详情</el-button>
                        </div>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>
    </div>

</template>

<script>
    import axios from 'axios'
    export default {
        name: "MyStartedTask",
        data() {
            return {
                taskReps:{},
                pendingTasks: [{
                    startTime: '2016-05-02',
                    name: '产品审批',
                    timeLeft: 10,
                    currentUser:"张三"
                }, {
                    startTime: '2016-05-04',
                    name: '产品审批',
                    timeLeft: 10,
                    currentUser:"张三"
                }, {
                    startTime: '2016-05-01',
                    name: '产品审批',
                    timeLeft: 10,
                    currentUser:"张三"
                }, {
                    startTime: '2016-05-03',
                    name: '产品审批',
                    timeLeft: 10,
                    currentUser:"张三"
                }]
            }
        },
        created() {
            let _this = this;
            axios.get("/tasks/myself?userId=lisi")
                .then(resp => {
                    _this.taskReps = resp.data;
                })
        }
    }
</script>

<style scoped>
    .text {
        font-size: 14px;
    }

    .item {
        margin-bottom: 18px;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }
    .clearfix:after {
        clear: both
    }

    .box-card {
        width: 100%;
    }
</style>